/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
  }
  
  .company-name {
    font-size: 24px;
  }
  
  .login-button,
  .profile-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .login-button {
    margin-right: 10px;
  }
  
  .profile-button {
    margin-right: 10px;
  }
  
  .profile-button:hover,
  .login-button:hover {
    background-color: #0056b3;
  }
  